.BarraNavegacao {
  border: 2px outset rgb(255, 255, 255);
  background-color: rgba(8, 177, 255, 0.534);
  height: 100px;
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}



.logo {
  margin-top: 26px;
  margin-left: 50px;
}

/* cor do botao  */
.btn-branco {
  background-color: #ffffff;
  color: #000000;
}

/* cor do botão quando passa o mouse em cima */
.btn-branco::after {
  background-color: #fefafa;
}



/* botão Eventos */

/* botão */
.btn-evento {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  left: 350px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  margin-top: -75px;

}

/* cor do fundo quando o botão flutua */
.btn-evento:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-evento::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

/* movimento de expansão do botão */
.btn-evento:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}



/* botão doação */

/* botão */
.btn-doacao {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  left: 540px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  margin-top: -75px;
}

/* cor do fundo quando o botão flutua */
.btn-doacao:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-doacao::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

/* movimento de expansão do botão */
.btn-doacao:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}



/* botão Parceria */

/* botão */
.btn-parceria {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  left: 730px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  margin-top: -75px;
}

/* cor do fundo quando o botão flutua */
.btn-parceria:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-parceria::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

/* movimento de expansão do botão */
.btn-parceria:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* botão login */

/* botão */
.btn-login {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  right: 230px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  margin-top: -75px;
}

/* cor do fundo quando o botão flutua */
.btn-login:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-login::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

/* movimento de expansão do botão */
.btn-login:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}




/* botão resgistre-se */

/* botão */
.btn-registar {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 25px;
  right: 50px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  margin-top: -75px;

}

/* cor do fundo quando o botão flutua */
.btn-registar:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}


/* tamanho da caixa branca do botao */
.btn-registar::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

/* movimento de expansão do botão */
.btn-registar:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}



/* botao perfil */


.usuario-container {
  position: absolute;
  top: 10px;
  right: 90px;
  
}

.usuario-btn {
background-color: #f9fcf9;
color: rgb(7, 7, 7);
width: 10px;
height: 10px;
padding: 40px;
border: none;
border-radius: 50%;
cursor: pointer;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.usuario-btn img {
  width: 40px;
  /* Ajuste o tamanho da imagem conforme necessário */
  height: 40px;
  border-radius: 50%;
  margin-bottom: -5px;
}


#usuario-menu {
  display: none;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ffffff;
  border-radius: 5px;
  z-index: 2;
  /* Set a higher z-index for the user menu */
  width: 150px;
}


#usuario-menu a {
  display: block;
  padding: 10px;
  /* Adicione ou ajuste o preenchimento conforme necessário */
  text-decoration: none;
  color: #333;
  /* Cor do texto */
}


